body{
    background-color: rgb(233, 212, 255);
}

.titulo{
    color: rgb(129, 0, 129);
    border: 2px solid rgb(58, 0, 58);
    text-align: center;
    background-color: rgb(217, 179, 255);
    padding: 10px;
    font-size: 40px;
}

.inicio{
    color: rgb(90, 0, 90);
    font-size: 30px;
    text-decoration: underline;
}

.enunciado{
    font-size: 20px;
}