*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    padding: 30px;
}

input{
    padding: 10px;
}

select{
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(212, 0, 255, 0.466);
    border: 2px solid purple;
    /* * Mudar o mouse ao passar sobre a TAG */
    cursor: pointer;
    color: blue;
    border-radius: 10px;
    transition: all 0.4s;
}

select:hover{
    border: 2px solid rgb(142, 82, 255);
    background-color: rgba(133, 3, 255, 0.568);
    color: rgb(0, 238, 255);
    width: 155px;
    height: 55px;
}

select:focus{
    border: 2px solid rgba(255, 22, 22, 0.61);
    background-color: rgba(255, 39, 39, 0.753);
    color: rgb(0, 41, 44);
    width: 155px;
    height: 55px;
}

input:focus{
    border-color: brown;
    /* ^ outline - traçado */
    outline: none;
}